
body{
  background-color: #E6E6E6;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

h1{
  font-size: 25px;
  color: #FF8552;
}

.profile-pic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

p, h3{
  color: #297373;
}

.btn-contact{
    text-decoration: none;
    background-color: #297373;
    color:#FF8552;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: bold;
    transition: 200ms;
}

.btn-contact:hover{
    background-color: #FF8552;
    color: #297373;
}

.social-links{
    list-style: none;
    padding: 0;
}

.social-holder{
  display: inline-block;
}

.btn-social{
    color: black;
    font-size: 50px;
}

.container{
  width: 800px;
  margin: 0 auto;
}

.card{
  border: solid 1px white;
  border-radius: 10px;
  padding: 0px 30px 30px 30px;
  margin-top: 20px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.center-text{
  text-align: center;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }

  h1{
    font-size: 20px;
    color: #FF8552;
  }
}